
<form method="POST" >
    {{ update_form.hidden_tag() }}
<div class="float-end">
    {{ update_form.submit_update(class="btn btn-search mb-3") }}
</div>
<h2>Oversigt over lager</h2>
<ul>
    {% for root_category in categories recursive %}
        <li>
            <span class="category">{{ root_category.name }}</span>
            <ul>
                {% if root_category.items %}
                    {% for item in root_category.items %}
                        <li class="item-li">
                            <span>{{ item.name }}</span>
                            <span class="float-end">
                                <input type="number" name="changes-{{item.ID}}-change" placeholder="Indtast ændring...">
                            </span>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if root_category.subcategories %}
                    {{ loop(root_category.subcategories)}}
                {% endif %}
            </ul>
        </li>
    {% endfor %}
</ul>
</form>
