{% extends "main.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="col-auto">
                {{ form.search.label(class="form-label") }}
                {% if form.search.errors %}
                    {{ form.search(class="form-control form-control-lg is-invalid") }}
                    <div>
                        {% for error in form.search.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.search(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-auto">
                {{ form.submit(class="btn btn-primary mb-3 btn-search") }}
            </div>
        </form>
    {% endif %}
    {% include subpage %}
{% endblock content %}
