@media (min-width: 768px) {
    .container-xs {
        max-width: 700px;
    }
}

body {
    background: pink;
}

.btn-search {
    --bs-btn-color: #fff;
    --bs-btn-bg: #cc2a63;
    --bs-btn-border-color: #ba265a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ba265a;
    --bs-btn-hover-border-color: #a81f4f;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a81f4f;
    --bs-btn-active-border-color: #921a44;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #cc2a63;
    --bs-btn-disabled-border-color: #cc2a63;
    border-width: 2px;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.5rem;
    width: 100px;
}

.btn-add {
    width: 200px;
}

.search-bar {
    margin-right: 100px !important;
}

.category {
    font-weight: bold;
}

.item-li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-input {
    width: 55px;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 1rem;
}

.hide {
    display: none;
}

.hover-txt:hover + .hide {
    display: block;
    color: rgb(0, 0, 0);
}
