{% extends "layout.html" %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="col-auto">
            {{ form.username.label(class="form-label") }}
            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div>
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="col-auto">
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div>
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div>
        <div class="col-auto">
            {{ form.submit(class="btn btn-primary mb-3") }}
        </div>
        {% with flashes = get_flashed_messages() %}
            {% if flashes %}
                <div>
                    {% for flash in flashes %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash }}
                    </span>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </form>
{% endblock content %}
